<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="10">
    <test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/Wikipedia">
        <classes>
            <class name="MainPageTest"/>
            <class name="AuthorizationTest"/>
            <class name="FooterTest"/>
            <class name="AuthenticationFunctionalTests"></class>
        </classes>
    </test>
</suite>